@import '../variables.scss';

.headerBar {
  width: 100vw;
  height: 80px;
  padding-left: 40px;
  box-shadow: 0px 5px 10px grey;
  background-color: $primary;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
}
