@import '../variables.scss';

.sideBarDropdown {
  width: 80%;
  border-bottom: 1px solid $lightGrey;
  padding-bottom: 10px;
  padding-top: 10px;

  .dropTitle {
    background: none;
    border: none;
    width: 100%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;

    span {
      flex-grow: 1;
    }
  }

  .content {
    padding-top: 15px;

    span {
      font-weight: bold;
    }
  }

  .chevron {
    transition: 300ms;
    transform: rotate(0deg);
  }

  .chevron-flip {
    transform: rotate(180deg);
  }
}
