@import './variables.scss';
@import './components/header-bar.scss';
@import './components/side-bar.scss';
@import './components/side-bar-dropdown.scss';
@import './components/results.scss';
@import './routes/upload.scss';

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.page {
  flex-grow: 1;
  display: flex;
  position: absolute;
  top: 80px;
  left: 250px;
  height: calc(100% - 80px);
  width: calc(100% - 250px);
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
