$primary: #1D647A;
$dark-primary: rgb(0, 102, 133);
$secondary: #FF8A01;
$grey: #F4F3F3;
$lightGrey: #E5E5E5;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
