<div class="sideBar">
  <div class="sideBarTitle">We can check against the following weaknesses...</div>
  <SideBar::Dropdown
    @title="CWE-126"
    @contentTitle="Buffer Over-read"
    @content="The software reads from a buffer using buffer access mechanisms
      such as indexes or pointers that reference memory locations after the
      targeted buffer.">
  </SideBar::Dropdown>
  <SideBar::Dropdown
    @title="CWE-134"
    @contentTitle="Use of an Externally-Controlled Format String"
    @content="The software uses a function that accepts a format string as an
      argument, but the format string originates from an external source.">
  </SideBar::Dropdown>
  <SideBar::Dropdown
    @title="CWE-401"
    @contentTitle="Improper Release of Memory Before Removing Last Reference"
    @content="The software does not sufficiently track and release allocated
      memory after it has been used, which slowly consumes remaining memory.">
  </SideBar::Dropdown>
  <SideBar::Dropdown
    @title="CWE-476"
    @contentTitle="NULL Pointer Dereference"
    @content="A NULL pointer dereference occurs when the application dereferences
      a pointer that it expects to be valid, but is NULL, typically causing a
      crash or exit.">
  </SideBar::Dropdown>
  <SideBar::Dropdown
    @title="CWE-762"
    @contentTitle="Mismatched Memory Management Routines"
    @content="The application attempts to return a memory resource to the system,
      but it calls a release function that is not compatible with the function
      that was originally used to allocate that resource.">
  </SideBar::Dropdown>
</div>